

#luckybirdSection .luckybird_card{
    overflow: hidden;
    
}
#luckybirdSection .luckybird_image{
    width: 100%;

}

#example3 .exampleCard{
    height: 230px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border: none;
    position: relative;
}
#example3 .exampleCard .imgArea{
    position:absolute ;
    left: 0;
    right: 0;
    top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#example3 .exampleCard img {
    width: 80%;
    max-height: 60px;
    object-fit: contain;
   

}
#example3 .exampleCard .cardBody h4{
    font-size: 14px;
    font-weight: 600;
    display: block;
    width: 100%;
}
#example3 .exampleCard .cardBody{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #example3 .exampleCard{
      height: 170px;
    }
    #example3 .exampleCard .imgArea {
      top: 40px;
    }
  }